:root {
    --primary-font: font-family: 'Zodiak', serif;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width:960px){


 #portrait-text h2{
        font-size: 15px;
    }
  #portrait-text h3 {
    font-size: 15px;
}
   #portrait-text h1{
     font-size: 80px;
     
    }

   
   

    #about-m{
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
    }

    

    
}
body {
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    text-align: left;
    margin: 0;

}

p{
    font-family: 'Cabinet Grotesk', sans-serif;
        font-size: 15px;}
            

h1 {
    font-size: 120px;
    font-family: 'Boska', serif;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #93cedf,
            0 0 82px #93cedf,
            0 0 92px #93cedf,
            0 0 102px #93cedf,
            0 0 151px #93cedf;
}


h3,h2 {
    font-size: 24px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: bolder;
    
}

#frontPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

margin


.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: start;
}

.navigation-links a {
    
    border-radius: 100px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background-image: linear-gradient(to right, #ED9190,#4e7ba7,#ED9190) ;

    
    color: white;

}

#portrait-text{
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;


}

#about-me {
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
   
}



.about{
    font-size: 70px;
    font-family: 'Boska', serif;
        font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    animation-name: about;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    transition: all ease-in-out;


    
}

@keyframes about {
0% {
        color: black;
        
    }

    25% {
        color: #ED9190;
        
    }

    50% {
        color: black;
        
    }

    100% {
        color: #4e7ba7;
        
    }
}




#about-me{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
}






#about-vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}





#about-container{
    background: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}







#soundcloud{
    padding-left: 50px;
    padding-right: 50px;
}

/*In dev*/
@media (max-width:960px) {
    #pro-img{
        margin: 0;
        
    }



}
.in-h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Boska', serif;
    font-size: 50px;

}

.in-pro-des{
font-family: 'Boska', serif;
    ;
    font-size: 30px;
    font-weight: bold;

}

#in-p{
    font-weight: bold;
    line-height: 1.5;
    
}

.pro-con{
    background-color: rgb(255, 255, 255, 0.7);
    padding-bottom: 50px;
}

.pro-link{
    font-size: 15px;
    background-image: linear-gradient(to right, #ED9190, #4e7ba7, #ED9190) ;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    
}